/src/.depend
/src/.settings
/src/.project
/src/.cproject
/src/.root
/src/kern/compile/
/defs.mk
/src/build/
/src/userland/testbin/randcall/calls.c
/root/
root/.src
root/kernel-PROJ2
root/lib/libc.a
root/lib/libtest.a
root/lib/libtest161.a
src/defs.mk
root/kernel-PROJ3
.vscode
DISK1.img
DISK2.img



.vscode/
*.swo
*.swp
*~
